# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BT_CRYPTO
	bool
	depends on PSA_CRYPTO_CLIENT
	select PSA_WANT_KEY_TYPE_AES
	select PSA_WANT_ALG_CMAC
	help
	  This option enables the Bluetooth Cryptographic Toolbox.
